<% provide(:title, "ログイン") %>
<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>個人向けログイン</h1>
      <div class="box-email">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="box-password">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="box-login">
        <%= f.submit "ログインする" %>
        <% if devise_mapping.rememberable? %>
          <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember, "ログインしたままにする" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="box-newuser">
      <p><span>---------</span> アカウントをお持ちではないですか？ <span>---------</span></p>
      <%= link_to "アカウント作成", new_user_registration_path %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="box-test">
        <%= f.hidden_field :email, value: 'user@test.com' %>
        <%= f.hidden_field :password, value: 'password' %>
        <%= f.submit 'テストログイン' %>
      </div>
    <% end %>
  </div>
</div>
