<div class="container">
  <div class="search_fild">
    <%= search_form_for @q do |f| %>
      <%= f.label :qualification, "電気工事士に求める資格(複数可)" %><br />
      <%= f.check_box :qualification_cont_all , {multiple: true}, "第一種電気工事士",nil %>
      <%= f.label :qualification, "第一種電気工事士" %>
      <%= f.check_box :qualification_cont_all , {multiple: true}, "第二種電気工事士",nil %>
      <%= f.label :qualification, "第二種電気工事士" %>
      <%= f.check_box :qualification_cont_all , {multiple: true}, "1級電気工事施工管理技士",nil %>
      <%= f.label :qualification, "1級電気工事施工管理技士" %><br />
      <%= f.check_box :qualification_cont_all , {multiple: true}, "2級電気工事施工管理技士",nil %>
      <%= f.label :qualification, "2級電気工事施工管理技士" %>
      <%= f.check_box :qualification_cont_all , {multiple: true}, "電気主任技術者",nil %>
      <%= f.label :qualification, "電気主任技術者" %>
      <%= f.check_box :qualification_cont_all , {multiple: true}, "その他",nil %>
      <%= f.label :qualification, "その他" %><br />
      <%= f.label :性別 %>
      <%= f.radio_button :sex_eq, '', {:checked => true} %>
      <%= f.label :sex, "指定なし" %>
      <%= f.radio_button :sex_eq, 0 %>
      <%= f.label :sex, "男性" %>
      <%= f.radio_button :sex_eq, 1 %>
      <%= f.label :sex, "女性" %>
      <%= f.submit "検索する" %>
    <% end %>
  </div>
  <h1>電気工事士一覧</h1>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar, class: "img-list" %>
        <% else %>
          <%= image_tag("avater/shutterstock_1714228723.jpg", class: "img-list") %>
        <% end %>
        <%= link_to user.name, user %>
      </li>
    <% end %>
  </ul>
</div>
<%= paginate @users %>
