<% provide(:title, "マイページ") %>
<div class="container">
  <div class="row">
    <aside class="info">
      <section class="user_info">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "img-circle" %>
        <% else %>
          <%= image_tag("avater/shutterstock_1714228723.jpg", class: "img-circle") %>
        <% end %>
        <h1><%= @user.name %></h1>
        <p><%= @user.sex %><%= @birthday %>歳</P>
        <% unless @user == current_user %>
          <% if current_company.following?(@user) %>
            <%= link_to 'アンフォロー', user_unfollow_path(@user.id), class: 'btn btn-primary', method: :POST %>
          <% else %>
            <%= link_to 'フォロー', user_follow_path(@user.id), class: 'btn btn-primary', method: :POST %>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <div class="stats">
            <a href="<%= following_user_path %>">
              <strong id="follower" class="stat">
                <%= @user.follower.count %>
              </strong>
              フォロー中
            </a>
            <a href="<%= followers_user_path %>">
              <strong id="follower" class="stat">
                <%= @user.followed.count %>
              </strong>
              フォロワー
            </a>
          </div>
        <% end %>
        <p>
          <div class="qualification">
            保有資格:<br><%= @qualification %>
          </div><br>
          <div class="profile">
            <%= @user.profile  %>
          </div>
        </P>
      </section>
      <div class="matching">
        <% if user_signed_in? %>
          <h1>マッチングした企業</h1>
          <ul class="matchers">
            <% @matchers.each do |company| %>
              <li>
                <% if company.avatar.attached? %>
                  <%= image_tag company.avatar, class: "img-list" %>
                <% else %>
                  <%= image_tag("avater/shutterstock_1714228723.jpg", class: "img-list") %>
                <% end %>
                <% if @company_ids.include?(company.id) %>
                  <%= link_to "#{company.company_name}とのトークルーム", room_path(current_user.rooms.find_by(company_id: company.id)) %>
                <% else %>
                  <%= form_for Room.new do |f| %>
                    <%= f.hidden_field :company_id, :value => company.id %>
                    <%= f.submit "メッセージを送る" %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </aside>
  </div>
</div>
