<div class="container">
  <div class="row">
    <aside class="info">
      <section class="user_info">
        <% if @company.avatar.attached? %>
          <%= image_tag @company.avatar, class: "img-circle" %>
        <% else %>
          <%= image_tag("avater/shutterstock_1714228723.jpg", class: "img-circle") %>
        <% end %>
        <h1>
          <%= @company.company_name %>
        </h1>
        <p>
          <%= @company.company_url %>
          <br>
          <div class="qualification">
            求める資格:<br> <%= @qualification %>
          </div>
          <br>
          <div class="profile">
          <%= @company.profile  %>
          </div>
        </p>
      </section>
    </aside>
  </div>
</div>
