<% provide(:title, "マイページ") %>
<div class="container">
  <div class="row">
    <aside class="info">
      <section class="user_info">
        <% if @company.avatar.attached? %>
          <%= image_tag @company.avatar, class: "img-circle" %>
        <% else %>
          <%= image_tag("avater/shutterstock_1714228723.jpg", class: "img-circle") %>
        <% end %>
        <h1><%= @company.company_name %></h1>
        <a><%= @company.company_url %></a></br>
        <% unless @company == current_company %>
          <% if current_user.following?(@company) %>
            <%= link_to 'アンフォロー', company_unfollow_path(@company.id), class: 'btn btn-primary', method: :POST %>
          <% else %>
            <%= link_to 'フォロー', company_follow_path(@company.id), class: 'btn btn-primary', method: :POST %>
          <% end %>
        <% end %>
        <% if company_signed_in? %>
          <div class="stats">
            <a href="<%= following_company_path %>">
              <strong id="follower" class="stat">
                <%= @company.follower.count %>
              </strong>
              フォロー中
            </a>
            <a href="<%= followers_company_path %>">
              <strong id="follower" class="stat">
                <%= @company.followed.count %>
              </strong>
              フォロワー
            </a>
          </div>
        <% end %>
        <p>
          <div class="qualification">
            求める資格:<br><%= @qualification %>
          </div><br>
          <div class="profile">
            <%= @company.profile %>
          </div>
        </p>
        <h2>所在地: <%= @company.address %></h2>
        <div id="map"></div>
      </section>
      <div class="matching">
        <% if company_signed_in? %>
          <h1>マッチングした電気工事士</h1>
          <ul class="matchers">
            <% @matchers.each do |user| %>
              <li>
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar, class: "img-list" %>
                <% else %>
                  <%= image_tag("avater/shutterstock_1714228723.jpg", class: "img-list") %>
                <% end %>
                <% if @user_ids.include?(user.id) %>
                  <%= link_to "#{user.name}とのトークルーム", room_path(current_company.rooms.find_by(user_id: user.id)) %>
                <% else %>
                  <div style="display:inline-flex">
                    <%= form_for Room.new do |f| %>
                      <%= link_to user.name, user %>
                      <%= f.hidden_field :user_id, :value => user.id %>
                      <%= f.submit "メッセージを送る" %>
                    <% end %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </aside>
  </div>
</div>
<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @company.latitude %>, lng: <%= @company.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @company.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
